
<div class="row my-5">
  <div class="col-12">
    <div class="container">
      <div id="about" class="d-flex">
        <div>
          <h2>About</h2>
          <p>Hi, I'm Rafaela and I'm from Brazil, but I was raised in Japan.</p>
          <p>In 2025, I graduated from Le Wagon Web Development Bootcamp (9 weeks of intensive program)</p>
        </div>
        <div>
          <%= image_tag "Eu_DemoDay-26.jpg", class: 'about-img' %>
        </div>
      </div>
    </div>
  </div>
</div>
