<%# <%= image_tag "Eu_DemoDay-26.jpg", width: '120px' %>

<div class="banner leSnake h-100">
  <div class="text-wrapper">
    <span class="title-main">W</span>
    <span >E</span>
    <span class="title-main">L</span>
    <span >C</span>
    <span class="title-main">O</span>
    <span >M</span>
    <span class="title-main">E</span>
  </div>

  <div class="d-flex mx-5">
    <div>
      <span >T</span>
      <span class="title-main">O</span>
    </div>
    <div class="ms-5">
      <span >M</span>
      <span class="title-main">Y</span>
    </div>
  </div>

  <div class="text-wrapper ">
    <span >P</span>
    <span class="title-main">O</span>
    <span>R</span>
    <span class="title-main">T</span>
    <span >F</span>
    <span class="title-main">O</span>
    <span >L</span>
    <span class="title-main">I</span>
    <span >O</span>
  </div>
</div>
